.p-primary{
    color: white;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.nav-div{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
.nav-container{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: 50%;
}

.menu-item{
    /* border: 2px solid blueviolet; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item .color{
    color: #FF5400;
}

.menu-item a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #424247;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: normal;
}
.nav-container img{
    width: 70px;
}

.nav-container h5{
    padding-left: 18px;
    font-size: 2.25rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    color: #131318;
}

.nav-container span{
    color: #FF5400;
}

/* Banner Section */
.banner{
    max-width: 1170px;
    margin: 0 auto; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Images/Banner\ img.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner h1{
    font-size: 3rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    color: #ffffff;
} 

.banner p{
    padding: 0 80px;
}

.input{
    max-width: 750px;
    margin: 0 auto;
    background-color: #ffffff76;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
}
.submit-btn{
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 34px;
    border-style: none;
    color: white;
}