.p-primary{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.heading-primary{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding: 12px 20px;
    border-style: none;
}
.nav-div{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
.nav-container{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: 50%;
}

.menu-item{
    /* border: 2px solid blueviolet; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item .color{
    color: #FF5400;
}

.menu-item a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #424247;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: normal;
}
.nav-container img{
    width: 70px;
}

.nav-container h5{
    padding-left: 18px;
    font-size: 2.25rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    color: #131318;
}

.nav-container span{
    color: #FF5400;
}

/* Banner Section */
.banner{
    max-width: 1170px;
    margin: 0 auto; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Images/Banner\ img.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner h1{
    font-size: 3rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    color: #ffffff;
} 

.banner p{
    padding: 0 80px;
    color: white;
    text-align: center;
}

.input{
    max-width: 750px;
    margin: 0 auto;
    background-color: #ffffff76;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
}
.submit-btn{
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 34px;
    border-style: none;
    color: white;
}

/* Main section, image+text styles*/
.text p li{
    color: rgba(19, 19, 24, 0.70);
    width: 50%;
    text-align: left;
}

.image-text{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 100px;
}
.side-image{
    padding-left: 30px;
}
.text{
    padding-left: 10px;
}

/* "Capture Moments of Calm" section styles */
.moments{
    border: 2px solid blue;
    /* width: 50%; */
}
.img-container{
    border: 4px solid red; 
}
.row-1{
    border: 3px solid black;
}
.row-2{
    border: 2px solid hotpink;
}

.moments p{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}

.row-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1170px;
    margin: 0 auto;
    gap: 25px;
    padding: 30px;
}

.row-2{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
.img-3{
    /* justify-content: space-between; */
}